{
    "presets":["env","@babel/react", "@babel/stage-0", "es2015", { "modules": false }],
    "plugins":["transform-runtime",["component", [
        {
          "libraryName": "mint-ui",
          "style": true
        }
      ]]]
}